<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509190030793-mi3m7n0hmobjm557u1f1oek7ro10pkp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509190030793-mi3m7n0hmobjm557u1f1oek7ro10pkp2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>509190030793-d7kf8a2go7h3lhs3c5tjcloia46uidap.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw0dqqKb9jvLR9wbuMZe9AHLV0vwxDC10</string>
	<key>GCM_SENDER_ID</key>
	<string>509190030793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmk.nutrisport.NutriSport</string>
	<key>PROJECT_ID</key>
	<string>nutrisport-461610</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrisport-461610.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509190030793:ios:0f62d6af0ceea15fd9d418</string>
</dict>
</plist>